<h1> {{room.id == null ? 'Add' : 'Edit'}} {{room.name}}</h1>

<form>
  <div class="form-group">
    <label for="name">{{room.name}}</label>
    <input type="text" class="form-control" id="name" placeholder="room name" >
    <div class="alert alert-danger"></div>

  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" placeholder="location" >
    <div class="alert alert-danger"></div>
  </div>

  <h2>This room can accomodate:</h2>

  <!-- list the layout types here -->

  <button type="submit" class="btn btn-primary">Save</button>
</form>
